@model DadosLivro

<form method="post" enctype="multipart/form-data">
    <H2> <label style="color:darkorange; margin-left:10px"><b><u>Cadastro do Livro:</u></b></label></H2>
    <br />
    <br />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <H4> <label style="color:white; margin-left:10px"><b><u>Dados do livro:</u></b></label></H4>
    <div class="form-group" id="CEP">
        <div class="form-group">
            <div class="form-inline">
                <input class="form-control col-md-2" style="margin-left:5px;" placeholder="Titulo" name="nome" title="Titulo" />

                <input type="submit" value="Buscar" class="btn-outline-info form-control col-md-1" style="margin-left:10px;"
                       asp-action="BuscarLivro" asp-controller="Livro" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-inline">
            <div>
                <label class="text-info"></label>
            </div>
            <input class="form-control col-md-3" style="margin-left:5px;" placeholder="Titulo" asp-for="Title" title="Titulo" readonly="" />
            <div>
                <label class="text-info"></label>
            </div>
            <input class="form-control col-md-3" style="margin-left:5px;" placeholder="Autor" asp-for="Authors[0]" readonly="" title="Autor" />
            <div>
                <label class="text-info"></label>
            </div>
            <input class="form-control col-md-3" style="margin-left:5px;" placeholder="Autor" asp-for="Autor" title="Autor" />
        </div>
    </div>


    <div class="form-group">
        <div class="form-inline">
            <div>
                <label class="text-info"></label>
            </div>
            <input type="date" class="form-control col-md-3" style="margin-left:5px;" placeholder="Data de publicação" asp-for="PublishedDate" title="Data de publicação" readonly="" />
            <div>
                <label class="text-info"></label>
            </div>
            <input class="form-control col-md-3" style="margin-left:5px;" placeholder="Editora" asp-for="Publisher" readonly="" title="Editora" />
            <label class="text-info"></label>
            <select asp-items="@ViewBag.Generos" class="form-control col-md-3" style="margin-left:5px;" placeholder="Gênero" name="drpGeneros" readonly="" title="Gênero">
                <option>-- GÊNERO -- </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-inline">
            <select asp-for="Genero" class="form-control col-md-3" style="margin-left:5px;" placeholder="Genero" title="Genero">
                <option>Gênero</option>
                <option>Romance</option>
                <option>Ação</option>
                <option>Suspense</option>
            </select>
            <select asp-for="Descricao" class="form-control col-md-6" style="margin-left:5px;" placeholder="Descricao" title="Descricao">
                <option>Descrição</option>
                <option>Envolvimento amoroso entre os protagonistas</option>
                <option>Protagonistas do bem contra antagonistas do mal</option>
                <option>Predominam as situações de tensão</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-inline">
            <div>
                <label class="text-info"></label>
            </div>
            <textarea rows="5" style="height:150px; margin-left:5px;" class="form-control col-md-9" placeholder="Descrição" asp-for="Description" readonly="" title="Descrição"></textarea>
        </div>
        <br />
        <div class="form-group" id="Imagem">
            <H4> <label style="color:white; margin-left:10px"><b><u>Imagem:</u></b></label></H4>
            <input type="file" style="margin-left:5px;" name="fupImagem" />
        </div>
        <div class="form-group">
            <div class="form-inline">
                <input type="submit" value="Cadastar" class="btn-success form-control col-md-4" style="margin-left:5px;" asp-action="CadastrarLivro" asp-controller="Livro" />
            </div>
        </div>
    </div>

</form>
<style>
    body {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(https://i.imgur.com/u9sUbQi.jpg) no-repeat center center fixed;
        background-size: cover;
        background-position: center;
        -webkit-filter: blur(px);
    }
</style>