@model DadosLivro
<form asp-action="EditarLivro" method="post">
    <input type="hidden" asp-for="DadosLivroId" />
    <H2> <label style="color:darkorange; margin-left:10px"><b><u>Editar dados do Livro:</u></b></label></H2>
    <br />
    <br />
    <H4> <label style="color:white; margin-left:10px"><b><u>Dados do Livro:</u></b></label></H4>

    <div class="form-group">
        <div class="form-inline">


            <input class="form-control col-md-3" style="margin-left:5px;" placeholder="Titulo" asp-for="Title" title="Titulo" />

 
            <input class="form-control col-md-3" style="margin-left:5px;" placeholder="Autor" asp-for="Autor" title="Autor" />

        </div>
    </div>
    <div class="form-group">
        <div class="form-inline">


            <input class="form-control col-md-3" style="margin-left:5px;" placeholder="Data de publicação" asp-for="Publisher" title="Date" />

            <input class="form-control col-md-3" style="margin-left:5px;" placeholder="Telefone" asp-for="PublishedDate" title="Telefone" />

        </div>
    </div>
    <div class="form-group">
        <div class="form-inline">
            <button class="btn btn-success col-md-3" style="margin-left:10px;" type="submit">Salvar</button>
        </div>
    </div>
</form>

<style>
    body {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(https://i.imgur.com/u9sUbQi.jpg) no-repeat center center fixed;
        background-size: cover;
        background-position: center;
        -webkit-filter: blur(px);
    }
</style>