@model Cliente
<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h4 class="text-success" style="margin-bottom:30px; margin-top:30px;">Cadastro CEP</h4>
    <div class="form-group" id="CEP">
        <div class="form-group">
            <div class="form-inline">

                <input class="form-control col-md-2" style="margin-left:10px;" placeholder="CEP" asp-for="Endereco.Cep" title="CEP" />


                <input type="submit" value="Buscar" class="btn-outline-info form-control col-md-1" style="margin-left:10px;" asp-action="BuscarCep" asp-controller="Home" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <div>
                    <label class="text-info">Rua</label>
                </div>
                <input class="form-control col-md-2" style="margin-left:10px;" placeholder="Rua" asp-for="Endereco.Logradouro" title="Rua" readonly="" />
                <div>
                    <label class="text-info">Bairro</label>
                </div>
                <input class="form-control col-md-2" style="margin-left:10px;" placeholder="Bairro" asp-for="Endereco.Bairro" readonly="" title="Bairro" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <div>
                    <label class="text-info">Cidade</label>
                </div>
                <input class="form-control col-md-2" style="margin-left:10px;" placeholder="Cidade" asp-for="Endereco.Localidade" title="Cidade" readonly="" />
                <div>
                    <label class="text-info">Estado</label>
                </div>
                <input class="form-control col-md-2" style="margin-left:10px;" placeholder="Estado" asp-for="Endereco.Uf" readonly="" title="Estado" />
            </div>
        </div>
    </div>
    <h4 class="text-success" style="margin-bottom:30px; margin-top:30px;">Cadastro Usuario</h4>
    <div class="form-group" id="Cliente">
        <div class="form-group">
            <div class="form-inline">
                <input class="form-control col-md-4" style="margin-left:10px;" placeholder="Nome" asp-for="Nome" title="Nome" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-inline">
            <input type="number" class="form-control col-md-2" style="margin-left:10px;" placeholder="CPF" asp-for="Cpf" title="CPF" />
            <input type="password" class="form-control col-md-2" style="margin-left:10px;" placeholder="Senha" asp-for="Senha" title="Senha" />

        </div>
    </div>
    <div class="form-group">
        <div class="form-inline">
            <input type="date" class="form-control col-md-2" style="margin-left:10px;" placeholder="Date" asp-for="DataNascimento" title="Date" />
            <input type="tel" class="form-control col-md-2" style="margin-left:10px;" placeholder="Telefone" asp-for="Telefone" title="Telefone" />

        </div>
    </div>
    <div class="form-group">
        <div class="form-inline">
            <input type="email" class="form-control col-md-4" style="margin-left:10px;" placeholder="Email" asp-for="Email" title="Email" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-inline">
            <input type="submit" value="Cadastar" class="btn-outline-success form-control col-md-4" style="margin-left:10px;" asp-action="Cadastrar" asp-controller="Home" />
        </div>
    </div>

</form>






