@model GeneroLivro

@{
    ViewData["Title"] = "CadastrarGenero";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastrarGenero">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               <input class="form-control col-md-7" style="margin-left:10px;" placeholder="Gênero" asp-for="Nome" title="Gênero" />
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar"  class="btn-outline-info form-control col-md-4" style="margin-left:10px;" />
              
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ListaGeneros">Retornar para Lista de Gêneros</a>
</div>