@model IEnumerable<GeneroLivro>
<h2>Lista Genero Livro</h2>
<p>
    <a asp-action="CadastrarGenero" class="btn btn-outline-success col-md-2">Cadastrar</a>

</p>
<table class="table table-hover table-striped">
    <thead>
        <tr class="table-dark">
             <th>GeneroId</th>
            <th>Genero</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (GeneroLivro item in Model)
        {
        <tr class="table-success">
            <td>@item.GeneroLivroId</td>
            <td>@item.Nome</td>
            <td>
                <a class="btn btn-danger" asp-action="RemoverGenero" asp-route-id="@item.GeneroLivroId">Remover</a>
            </td>
            <td>
                <a class="btn btn-warning" asp-action="EditarGenero" asp-route-id="@item.GeneroLivroId">Alterar</a>

            </td>
        </tr>
        }
    </tbody>
</table>
