@model IEnumerable<GeneroLivro>
<form>
    <H2><label style="color:darkorange; margin-left:10px"><b><u>Lista dos Gêneros:</u></b></label></H2>
    <br />
    <br />
</form>
<p>
    <a asp-action="CadastrarGenero" class="btn btn-success col-md-2">Cadastrar</a>

</p>
<table class="table table-hover table-striped">
    <thead>
        <tr class="table-dark">
             <th>GeneroId</th>
            <th>Gênero</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (GeneroLivro item in Model)
        {
        <tr class="table-success">
            <td>@item.GeneroLivroId</td>
            <td>@item.Nome</td>
            <td>
                <a class="btn btn-danger" asp-action="RemoverGenero" asp-route-id="@item.GeneroLivroId">Remover</a>
            </td>
            <td>
                <a class="btn btn-warning" asp-action="EditarGenero" asp-route-id="@item.GeneroLivroId">Alterar</a>

            </td>
        </tr>
        }
    </tbody>
</table>
<style>
    body {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(https://i.imgur.com/u9sUbQi.jpg) no-repeat center center fixed;
        background-size: cover;
        background-position: center;
        -webkit-filter: blur(px);
    }
</style>