@model ReservaLivro
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input class="form-control col-md-2" style="margin-left:10px;" placeholder="Data da Reserva" asp-for="DataReservaLivro" title="Data da Reserva" />
        <input class="form-control col-md-2" style="margin-left:10px;" placeholder="Data da Devolução" asp-for="DataDevolucaoLivro" title="Data da Devolução" />
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn-outline-info form-control col-md-3" style="margin-left:10px;" asp-action="SalvarReservaLivro" asp-controller="ReservaLivro"/>
    </div>
</form>
