<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Login.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap2.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BIBLIOTECA</a>
    </nav>

    <div class="container" style="margin-top:15px;margin-bottom:30px">
        @RenderBody()
    </div>

    <hr />
    <footer>
        <p style="text-align:center">
            &copy; @DateTime.Now.Year - Biblioteca
        </p>
    </footer>
</body>
</html>